.previewWrapper{
  border-style: solid;
  border-radius: 12px;
  border-width: 1px;
  border-color: var(--color-secondary);
  width: 100%;  
  height: fit-content;
  margin: auto;
}
.previewWrapper .preview{
  transform: scale(0.85);
  width: 100%;
  min-height: 20%; 
}
.safeMode{
  contain: content;
  isolation: isolate;
}
.modeSelector{
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}