.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.left-pointer{
  max-width: 200px;
  background-image: url('~@/public/Icon/Icon-Down.svg');
  background-repeat: repeat-y;
  background-size: contain;
}
.instruction-box{
  width: 100%;
  list-style-position: inside;
}